version: "3.8"

services:
  postgres:
    image: postgres:17-alpine
    container_name: mdm_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: "${POSTGRES_USER:-mdmpostgres}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD:-mdmpostgres}"
      POSTGRES_DB: "${POSTGRES_DB:-mdmDB}"
    ports:
      - "${HOST_POSTGRES_PORT:-5438}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-mdmpostgres} -d ${POSTGRES_DB:-mdmDB} || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7-alpine
    container_name: mdm_redis
    restart: unless-stopped
    command: >
      redis-server
        --timeout 0
        --tcp-keepalive 60
        --maxclients 10000
    environment:
      REDIS_PASSWORD: "${REDIS_PASSWORD:-}"
    ports:
      - "${HOST_REDIS_PORT:-6379}:6379"
    volumes:
      - redisdata:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 10


volumes:
  pgdata:
  redisdata:
